/* General  */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 13.3px;
  font-family: "Berkshire Swash", cursive;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
:root {
  --main-color: #f83d8e;
  --sec-color: #646464;
  --black: #212529;
  --main-font-size: 16px;
}
.binkColor {
  color: var(--main-color);
}
.binkBackground {
  background-color: var(--main-color);
}
.grayColor {
  color: var(--sec-color);
}
.grayBackground {
  background-color: var(--sec-color);
}
.blackColor {
  color: var(--black);
}
.fontSize-1-375 {
  font-size: 1.375rem;
}
.fontSize-3-75 {
  font-size: 3.75rem;
}
.fw-400 {
  font-weight: 400;
}

/*? ============hero-section3====================== */
.hero-section3 {
  height: 100vh;
  background-image: url("../assets/m-assets/background-Image-Home3.jpeg");
  background-size: cover;
  background-position: center center;
}
.hero-section3 .hero-info {
  width: 43.125rem;
  height: 43.125rem;
  border-radius: 44.0625rem;
  border-bottom: 25px solid #c23e82;
  left: 10%;
  margin-top: 6rem;
}
.hero-section3 .circle {
  width: 11.8125rem;
  height: 11.8125rem;
  border-radius: 11.8125rem;
  top: -20%;
}

.hero-section3 .hero-info h1 {
  font-family: "Berkshire Swash";
  font-size: 6.25rem;
  line-height: 6.25rem;
  margin: 0;
}
.hero-section3 .hero-info h1 span {
  font-family: "Berkshire Swash";
  font-size: 6.25rem;
  line-height: 6.25rem;
}
.hero-section3 .hero-info p {
  color: #0f0200;
  font-family: Archivo;
  font-size: 1.375rem;
  line-height: 1.875rem;
}
.hero-section3 .hero-info .discover-button {
  width: 18.95875rem;
  height: 3.875rem;
  padding: 0rem 2.10506rem 0rem 2.125rem;
  gap: 1.10244rem;
  border-radius: 1.875rem;
  background: #683292;
  box-shadow: 0px 3px 22px 3px rgba(104, 50, 146, 0.31);
}
.hero-section3 .hero-info .discover-button h2 {
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
}
.hero-section3 .hero-info .discover-button i {
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 0.75rem;
}
.bac-img {
  width: 15.25rem;
  height: 24.5625rem;
  opacity: 0.2;
  background-image: url("../assets/m-assets/hero-info-ice.png");
  background-size: cover;
  bottom: -30%;
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
    transition: font-size 0.3s ease;
  }
  .hero-section3 {
    background-image: none;
    background-color: var(--main-color);
  }
  .hero-section3 .circle {
    display: none;
  }
  .hero-section3 .hero-info {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-bottom: 0;
    left: 0;
    background: linear-gradient(
      106deg,
      #efd7ef 8%,
      #f5f9fc 40%,
      #f8eae1 66%,
      #eaf8f9 91%
    );
  }
  .bac-img {
    bottom: -10%;
  }
}
/*! ================== art section ================= */
.art-section {
  padding-block: 5rem !important;
  position: relative;
}
.art-section .images .dots-img {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 5.25rem;
  height: 1.4375rem;
}
.art-section .images .circles-img {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 4rem;
  height: 3.875rem;
}
.art-section .images .half-circles-img {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 14rem;
  height: 5.75rem;
}
.art-section .images .triangles-img {
  position: absolute;
  bottom: 50%;
  right: 15%;
  width: 3.25rem;
  height: 3.4375rem;
}
.art-img figure {
  background-position: center center;
  background-size: cover;
}
.art-img img {
  width: 100%;
  height: 100%;
}

.art-info h2 {
  color: #0f0200;
  font-family: "Berkshire Swash";
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4rem;
}
.art-info h2 span {
  color: #f83d8e;
  font-family: "Berkshire Swash";
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4rem;
}
.art-info p {
  color: #646464;
  font-family: Archivo;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
}
.art-info button {
  text-align: center;
  border-radius: 1.875rem;
  background: #f83d8e;
  border: #f83d8e;
  padding: 0.875rem 1.35506rem 0.9375rem 1.375rem;
  gap: 0.73056rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  font-family: Archivo;
  font-size: 1rem;
  line-height: 1rem;
}
.art-info button:hover {
  transform: scale(1.1);
  background: #b4175b;
}
.art-info button > i {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 0.75rem;
  color: #fff;
  font-family: "Font Awesome 5 Free";
}
@media (max-width: 992px) {
  .art-info {
    padding-block: 5rem;
    align-items: center !important;
  }
  .art-section .images {
    display: none;
  }
}
/*? ==================Flavors section ================= */
.flavors-section {
  background: linear-gradient(
    115deg,
    #efd7ef 8%,
    #f5f9fc 43%,
    #f8eae1 64%,
    #eaf8f9 87%
  );
  position: relative;
}
.flavors-section .float-img {
  width: 15.6875rem;
  height: 25rem;
  flex-shrink: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0.1;
}
.flavors-section .float-img img {
  width: 100%;
  height: auto;
}
.flavors-section .container .header .h2,
.span {
  color: #0f0200;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4rem;
  font-family: "Berkshire Swash";
}
.flavors-section .container .header .h2 {
  color: #0f0200;
}
.flavors-section .container .header .h2 .span {
  color: #f83d8e;
}
.flavors-section .container .header p {
  color: #646464;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.flavors-section .container .slider .flav-item figure {
  padding: 2.3625rem 3.34375rem 0.0125rem 3.34375rem;
}
.flavors-section .container .slider .flav-item figure img {
  width: 100%;
  max-width: 9.625rem;
}
.flavors-section .container .slider .flav-item .card-body .card-rating i {
  color: #fbab2a;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 0.75rem;
}
.flavors-section .container .slider .flav-item .card-body .card-rating p {
  color: #0f0200;
  font-family: Archivo;

  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
}
.flavors-section .container .slider .flav-item .card-body h3 {
  color: #0f0200;
  font-family: Archivo;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.flavors-section .container .slider .flav-item .card-body p {
  color: #f83d8e;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.375rem;
}
.flavors-section .container .slider .flav-item .card-body button {
  text-align: center;
  border-radius: 1.875rem;
  background: #f83d8e;
  border: #f83d8e;
  padding: 0.875rem 1.35506rem 0.9375rem 1.375rem;
  gap: 0.73056rem;
  flex-shrink: 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 0.875rem;
  transition: all 0.3s ease-in-out;
}
.flavors-section .container .slider .flav-item .card-body button:hover {
  transform: scale(1.1);
  background: #b4175b;
}
.flavors-section .container .slider .flav-item .card-body button > i {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 0.75rem;
}
@media (max-width: 576px) {
  .slider {
    flex-direction: column;
    gap: 2rem;
  }

  .flavors-section .container .slider .flav-item figure {
    display: flex;
    justify-content: center;
  }
  .float-img {
    display: none !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .slider {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .flavors-section .container .slider .flav-item {
    width: 45%;
  }
  .flavors-section .container .slider .flav-item figure {
    padding: 4.3625rem 3.34375rem 0.0125rem 3.34375rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .slider {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .flavors-section .container .slider .flav-item {
    width: 18rem;
  }
  .flavors-section .container .slider .flav-item figure {
    padding: 4.3625rem 3.34375rem 0.0125rem 3.34375rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slider {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
  }

  .flavors-section .container .slider .flav-item {
    width: 18rem;
  }
}
/*? ==================perfect section ================= */

.perfect-section .container .header .h2,
.span {
  color: #0f0200;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4rem;
  font-family: "Berkshire Swash";
}
.perfect-section .container .header .h2 {
  color: #0f0200;
}

.perfect-section .container .header p {
  color: #646464;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.perfect-section .container .slider .item1 {
  background-image: url("../assets/m-assets/perfect-section/1.jpg");
}
.perfect-section .container .slider .item2 {
  background-image: url("../assets/m-assets/perfect-section/2.jpg");
}
.perfect-section .container .slider .item3 {
  background-image: url("../assets/m-assets/perfect-section/3.jpg");
}
.perfect-section .container .slider .item4 {
  background-image: url("../assets/m-assets/perfect-section/4.jpg");
}
.perfect-section .container .slider .per-flav {
  width: 21.875rem;
  height: 28.625rem;
  background-position: center center;
  background-size: cover;
}
.perfect-section .container .slider .per-flav .bar h3 {
  color: #212529;
  font-family: Archivo;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.375rem;
  margin: 0;
}
.perfect-section .container .slider .per-flav .bar .arrow {
  transition: all 0.3s ease-in-out;
}
.perfect-section .container .slider .per-flav .bar .arrow:hover {
  transform: scale(0.95);
}
/*! ================== lover section ================= */
.lover-section {
  background-color: #683292;
}
.left-space {
  width: 10%;
}
.lover-section .lover-img {
  width: 57.59938rem;
  height: 45.125rem;
}
.lover-section .lover-img img {
  width: 100%;
  height: 100%;
}
.lover-section .lover-info h2 {
  font-family: "Berkshire Swash";
  font-size: 7rem;
  line-height: 7.25rem;
}
.lover-section .lover-info p {
  font-family: Archivo;
  font-size: 1.875rem;
  line-height: 1.875rem;
}
.lover-section .lover-info p > span {
  color: #ffd800;
  font-family: Archivo;
  font-size: 1.875rem;
  line-height: 1.875rem;
}
.lover-section .lover-info button {
  border-radius: 1.875rem;
  background: #f83d8e;
  border: #f83d8e;
  padding: 0.875rem 1.35506rem 0.9375rem 1.375rem;
  gap: 0.73056rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 0.875rem;
  transition: all 0.3s ease-in-out;
}
.lover-section .lover-info button:hover {
  transform: scale(1.1);
  background: #b4175b;
}
.lover-section .lover-info button > i {
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 0.75rem;
}
.small-shape {
  position: absolute;
  width: 3.5rem;
  height: auto;
  z-index: 1;
}

.shape-1 {
  top: 30%;
  left: 90%;
  width: 2.9375rem;
  height: 3.25rem;
}

.shape-2 {
  top: 75%;
  left: 420%;
  width: 4.875rem;
  height: 4.375rem;
}

.shape-3 {
  top: 60%;
  left: 50%;
  width: 2.75rem;
  height: 2.875rem;
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
    transition: font-size 0.3s ease;
  }
  .lover-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
  }

  .lover-section .left-space {
    display: none;
  }

  .lover-section .lover-info {
    align-items: center;
    justify-content: center;

    gap: 2rem;
  }

  .lover-section .lover-img {
    width: 100%;
    height: auto;
  }

  .lover-section .lover-img img {
    width: 100%;
    height: auto;
  }
  .offer-btn {
    align-self: center;
  }
  .small-shape {
    display: none;
  }
}

/*? ================== pop section ================= */
.pop-section {
  background: linear-gradient(
    115deg,
    #efd7ef 8%,
    #f5f9fc 43%,
    #f8eae1 64%,
    #eaf8f9 87%
  );
}
.pop-section .float-img {
  width: 15.6875rem;
  height: 25rem;
  flex-shrink: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0.1;
}
.float-img img {
  width: 100%;
  height: auto;
}
.header .h2,
.span {
  color: #0f0200;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4rem;
  font-family: "Berkshire Swash";
}
.header .h2 {
  color: #0f0200;
}
.header .h2 .span {
  color: #f83d8e;
}
.header p {
  color: #646464;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.flav-item figure {
  padding: 2.3625rem 3.34375rem 0.0125rem 3.34375rem;
}
.flav-item figure img {
  width: 100%;
  max-width: 9.625rem;
}
.flav-item .card-body .card-rating i {
  color: #fbab2a;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 0.75rem;
}
.flav-item .card-body .card-rating p {
  color: #0f0200;
  font-family: Archivo;

  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
}
.flav-item .card-body h3 {
  color: #0f0200;
  font-family: Archivo;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.flav-item .card-body p {
  color: #f83d8e;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.375rem;
}
.flav-item .card-body button {
  text-align: center;
  border-radius: 1.875rem;
  background: #f83d8e;
  border: #f83d8e;
  padding: 0.875rem 1.35506rem 0.9375rem 1.375rem;
  gap: 0.73056rem;
  flex-shrink: 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 0.875rem;
  transition: all 0.3s ease-in-out;
}
.flav-item .card-body button:hover {
  transform: scale(1.1);
  background: #b4175b;
}
.flav-item .card-body button > i {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 0.75rem;
}
@media (max-width: 576px) {
  .slider {
    flex-direction: column;
    gap: 2rem;
  }

  .flav-item figure {
    display: flex;
    justify-content: center;
  }
  .float-img {
    display: none !important;
  }
  .header .h2,
  .span {
    padding-top: 3rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .slider {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .flav-item {
    width: 45%;
  }
  .flav-item figure {
    padding: 4.3625rem 3.34375rem 0.0125rem 3.34375rem;
  }
  .header .h2,
  .span {
    padding-top: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .slider {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .flav-item {
    width: 18rem;
  }
  .flav-item figure {
    padding: 4.3625rem 3.34375rem 0.0125rem 3.34375rem;
  }
  .header .h2,
  .span {
    padding-top: 3rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slider {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
  }

  .flav-item {
    width: 18rem;
  }
  .header .h2,
  .span {
    padding-top: 3rem;
  }
}
/*! ==================review section ================= */

.review-section .container .header .h2,
.span {
  color: #0f0200;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4rem;
  font-family: "Berkshire Swash";
}
.review-section .container .header .h2 {
  color: #0f0200;
}
.review-section .container .header p {
  color: #646464;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.testimonial-card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 2px 73px 2px rgba(0, 0, 0, 0.05) inset;
  transition: 0.3s;
  position: relative;
  border-bottom: 2px solid #f83d8e;
}

.mycard {
  width: 21.875rem;
  height: 21.4375rem;
}
.stars {
  color: #ffc045;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 0.75rem;
}
.carousel-indicators [data-bs-target] {
  background-color: #f83d8e;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.carousel-indicators {
  position: static;
  margin-top: 30px;
}

/*? ================== Questions section ================= */
.questions-section {
  background: linear-gradient(
    115deg,
    #efd7ef 8%,
    #f5f9fc 43%,
    #f8eae1 64%,
    #eaf8f9 87%
  );
  position: relative;
  padding-block: 3rem;
}
.questions-section .float-img {
  width: 15.6875rem;
  height: 25rem;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0.1;
}
.questions-section .container .header .h2,
.span {
  color: #0f0200;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4rem;
  font-family: "Berkshire Swash";
}
.questions-section .container .header .h2 {
  color: #0f0200;
}
.questions-section .container .header .h2 .span {
  color: #f83d8e;
}
.questions-section .container .header p {
  color: #646464;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.my-row {
  width: 70%;
  margin: 0 auto;
}
.question {
  color: #0f0200;
  font-family: Archivo;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  margin-bottom: 1.25rem;
}
/*? ================== footer section ================= */
.footer {
  padding-top: 5rem;
  background-color: #683292;
  font-family: "Archivo";
}

.footer .float-img {
  width: 12.5rem;
  height: 15rem;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}
.footer .f-logo {
  font-family: "Berkshire Swash";
  font-size: 2rem;
}
.footer .f-logo span {
  font-family: "Berkshire Swash";
  font-size: 2rem;
}
.footer h4 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.375rem;
}
.footer .ul-cont ul {
  padding-left: 1rem;
}
.footer .ul-cont li::marker {
  color: var(--main-color);
}
.footer .ul-cont li {
  padding: 1rem 0;
}
.footer .ul-cont li a {
  color: #cfb6e2;
  font-size: 0.875rem;
  font-weight: 400;
}
.footer .f-address i {
  border-radius: 6.25rem;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem !important;
  height: 2.8rem !important;
  margin: 0.3rem 1.3rem 0 0;
  font-size: 1rem;
  font-weight: 900;
}
.footer .f-address p,
.footer .f-phone p {
  color: #cfb6e2;
  font-size: 0.875rem;
  font-weight: 400;
}
.footer .f-phone div:first-child i {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 900;
  margin-top: 0.5rem;
}
.footer .icons-social i {
  border-radius: 6.25rem;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem;
}
.footer .f-row2 {
  color: #cfb6e2;
  text-align: center;
  font-family: "Archivo";
  font-size: 0.75rem;
  font-weight: 400;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 5rem;
  padding: 1.5rem;
}
.footer .scroll-to-top {
  right: 3%;
  bottom: 15%;
  padding: 1rem 1.25rem;
}
.footer .scroll-to-top i {
  font-family: "Font Awesome 5 Free";
  font-size: 1.084rem;
  font-weight: 900;
  line-height: 1.25rem;
}

@media (max-width: 768px) {
  .footer .f-row1 > div {
    padding: 2rem 1rem;
  }
}
